<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <!-- <link
      type="text/css"
      rel="stylesheet"
      href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>LABORATORIUM</title>
    <script type="module" crossorigin src="/assets/index-7a1b1f61.js"></script>
    <link rel="stylesheet" href="/assets/index-08c93d3a.css" />
  </head>
  <body class="h-full w-full">
    <div id="app" class="w-full h-full absolute"></div>
    <h1>Hello Backend</h1>
  </body>
</html>
